body {
  background-image: url(../img/shopping.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.shoppers {
  color: white;
  background-color: #263238;
  margin-top: 250px;
  width: 20px;
}


h1 {
  font-size: 20px;
}

li a {
  color: white;
}
